CARGADIR,DIR fact,CARGADIR,DIR 5,=,CARGADIR,DIR i,CARGA,DIR fact,CARGADIR,DIR 1,-,=,CARGA,DIR i,CARGADIR,DIR 1,>,SSF,42,SI,32,CARGADIR,DIR i,CARGA,DIR i,CARGADIR,DIR 1,-,=,SI,13,CARGADIR,DIR fact,CARGA,DIR fact,CARGA,DIR i,*,=,SI,22,CARGA,DIR fact,WRITE,