CARGADIR,DIR i,CARGADIR,DIR 1,=,CARGA,DIR i,CARGADIR,DIR 7,<=,SSF,65,SI,24,CARGADIR,DIR i,CARGA,DIR i,CARGADIR,DIR 1,+,=,SI,5,CARGA,DIR i,CARGADIR,DIR 5,>,SSF,63,CARGADIR,DIR j,CARGADIR,DIR 1,=,CARGA,DIR j,CARGADIR,DIR 5,<=,SSF,63,SI,55,CARGADIR,DIR j,CARGA,DIR j,CARGADIR,DIR 1,+,=,SI,36,CARGA,DIR i,CARGA,DIR j,+,WRITE,SI,45,SI,14,